1.In the below elements which of them are values or an expression? eg:- values can be integer or string and expressions will be mathematical operators.
'hello'
87.8
/


Ans: values: 'hello'(string), -87.8 (float) 
     Expresions: *, -, /, +

2. 2. What is the difference between string and variable?

Ans: String: It is a information type that something we store in a variable./
     Variable: VAriable acts like a storage in which we can assign a name or symbol as a variable and store information in it

3. Describe three different data types.
Ans:
    1) String: A string is a collection of one or more characters put in a single, double or triple quotes.
               Elements of string can be accesed through indexing.
            
    2) List:   A list is aordered collection of data put in a square bracket [] separated by comma.
               List is mutable i.e. we can make changes in it once it is defined.
               Elements of list can be accesed throught indexing as well as negative indexing.
                
    3) Tuple:  Tuple is a collection of ordered data put in a round bracket () separated by comma.
               Tuples are immutable i.e. once a tuple is created we cannot make changes in it.
               Elements of tuple can be accesed through indexing.

4. What is an expression made up of? What do all expressions do?

Ans: An expression is a combination of operators and operands that is used to produce some other value

5. This assignment statements, like spam = 10. What is the difference between an expression and a statement?

Ans: An expression is a combination of operators and operands in return which is used to produce some other values,
    while a statement is a standalone unit which does not return anything.

6. After running the following code, what does the variable bacon contain?
bacon = 22
bacon + 1

Ans: 23

7. What should the values of the following two terms be?
'spam' + 'spamspam'
'spam' * 3

Ans: 'spamspamspam' It will return 'spam' 3 times

8. Why is eggs a valid variable name while 100 is invalid?

Ans: In python variable name can start with alphabets but it cannot start with a numeral.
     Numeral can be used in between the variable name that is why eggs is a valid variable and 100 is not.

9. What three functions can be used to get the integer, floating-point number, or string version of a value?

Ans: for integer the function used is: int()
     for floating-point the function used is: float()
     for string the function used is: string()

10. Why does this expression cause an error? How can you fix it?
'I have eaten ' + 99 + ' burritos.'

Ans: Above expression will cause an error because when we concatenate two or more data types then those data types should be same.
     In above expression 99 is integer type of data and other two are strings thats why the conactenation operation will give Type error.
     To fix the above error we have to convert 99 into a string:
        'I have eaten' + str('99') + 'burritos'
        O/P: 'I have eaten 99 burritos.'

In [7]:
'I have eaten ' + str('99') + ' burritos.'

'I have eaten 99 burritos.'